
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $angular-scaffolding-primary: mat.define-palette(mat.$indigo-palette);
// $angular-scaffolding-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $angular-scaffolding-warn: mat.define-palette(mat.$red-palette);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $angular-scaffolding-theme: mat.define-light-theme((
//   color: (
//     primary: $angular-scaffolding-primary,
//     accent: $angular-scaffolding-accent,
//     warn: $angular-scaffolding-warn,
//   )
// ));

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include mat.all-component-themes($angular-scaffolding-theme);

// GAMA COLORES
$my-primary-color: (
  50 : #e7e4ee,
  100 : #c2bbd6,
  200 : #9a8eba,
  300 : #72609e,
  400 : #533e8a,
  500 : #351c75,
  600 : #30196d,
  700 : #281462,
  800 : #221158,
  900 : #160945,
  A100 : #917cff,
  A200 : #6649ff,
  A400 : #3b16ff,
  A700 : #2800fc,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$my-accent-color: (
  50 : #fef9f3,
  100 : #fdefe1,
  200 : #fce5ce,
  300 : #fbdbba,
  400 : #fad3ab,
  500 : #f9cb9c,
  600 : #f8c694,
  700 : #f7be8a,
  800 : #f6b880,
  900 : #f5ac6e,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #fff5ec,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


// PALETA DE COLORES
$my-palette-primary: mat.define-palette($my-primary-color);
$my-palette-accent: mat.define-palette($my-accent-color);
//$my-palette-warn: mat.define-palette($my-warn-color);

// TEMA PROPIO
$my-theme: mat.define-light-theme((
 color: (
   primary: $my-palette-primary,
   accent: $my-palette-accent
 )
));

// APLICAR NUESTRO TEMA A ANGULAR
@include mat.all-component-themes($my-theme);

